.Bd\(bd2\) {
  border: solid 2px;
}
.editable:hover .editable\:h_Bd\(bd2\) {
  border: solid 2px;
}
.Bdb\(bd1\) {
  border-bottom: solid 1px;
}
.Bdb\(bd2\) {
  border-bottom: solid 2px;
}
.Bdc\(t\) {
  border-color: transparent;
}
.editable:hover .editable\:h_Bdc\(neutral\) {
  border-color: hsl(195, 32%, 80%);
}
.Bdc\(neutral\) {
  border-color: hsl(195, 32%, 80%);
}
.Bdc\(pri\)\:f:focus {
  border-color: #19a5da;
}
.Bdc\(light\) {
  border-color: hsl(213, 44%, 95%);
}
.Bdbc\(light\) {
  border-bottom-color: hsl(213, 44%, 95%);
}
.Bds\(s\) {
  border-style: solid;
}
.Bdw\(2px\) {
  border-width: 2px;
}
.Bdrs\(rq\) {
  border-radius: 0.375rem;
}
.Bgc\(\#fff\) {
  background-color: #fff;
}
.Bgc\(t\) {
  background-color: transparent;
}
.Bgc\(light\)\:h:hover {
  background-color: hsl(213, 44%, 95%);
}
.Bgc\(light\) {
  background-color: hsl(213, 44%, 95%);
}
.Bgc\(i\) {
  background-color: inherit;
}
.Bgc\(\#fff\.2\)\:h:hover {
  background-color: rgba(255,255,255,.2);
}
.Bgc\(white\) {
  background-color: white;
}
.Bgc\(pri\) {
  background-color: #19a5da;
}
.Bxz\(bb\), .Row {
  box-sizing: border-box;
}
.Bxsh\(sh1\) {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.185);
}
.Bxsh\(ish1\) {
  box-shadow: inset 0 1px 4px 0 rgba(0, 0, 0, 0.185);
}
.C\(muted\) {
  color: hsl(204, 18%, 69%);
}
.C\(neutral\) {
  color: hsl(195, 32%, 80%);
}
.C\(i\) {
  color: inherit;
}
.C\(pri\) {
  color: #19a5da;
}
.C\(light\) {
  color: hsl(213, 44%, 95%);
}
.C\(white\)\:h:hover {
  color: white;
}
.Cur\(t\) {
  cursor: text;
}
.Cur\(p\) {
  cursor: pointer;
}
.Cur\(d\) {
  cursor: default;
}
.D\(f\) {
  display: flex;
}
.D\(b\) {
  display: block;
}
.D\(n\) {
  display: none;
}
.Flx\(flx1\) {
  flex: 1;
}
.Flx\(n\) {
  flex: none;
}
.Flxg\(1\) {
  flex-grow: 1;
}
.Flxs\(0\) {
  flex-shrink: 0;
}
.Fld\(r\)\! {
  flex-direction: row !important;
}
.Fld\(c\) {
  flex-direction: column;
}
.Ai\(c\) {
  align-items: center;
}
.Ai\(fs\) {
  align-items: flex-start;
}
.Ai\(fe\) {
  align-items: flex-end;
}
.Ai\(b\) {
  align-items: baseline;
}
.Ai\(st\) {
  align-items: stretch;
}
.Or\(1\) {
  order: 1;
}
.Jc\(c\) {
  justify-content: center;
}
.Jc\(sb\) {
  justify-content: space-between;
}
.Ff\(inh\) {
  font-family: inherit;
}
.Ff\(zsans\) {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.Fw\(inh\), .Fw\(i\) {
  font-weight: inherit;
}
.Fz\(ms1\) {
  font-size: 1.2rem;
}
.Fz\(inh\), .Fz\(i\) {
  font-size: inherit;
}
.Fz\(ms0\) {
  font-size: 1rem;
}
.Fz\(msn2\) {
  font-size: 0.694rem;
}
.Fs\(inh\) {
  font-style: inherit;
}
.H\(r1h\) {
  height: 2.25rem;
}
.H\(r2\) {
  height: 3rem;
}
.H\(ms1\) {
  height: 1.2rem;
}
.H\(100vh\) {
  height: 100vh;
}
.H\(100\%\) {
  height: 100%;
}
.H\(msn2\) {
  height: 0.694rem;
}
.H\(msn1\) {
  height: 0.833rem;
}
.H\(ms0\) {
  height: 1rem;
}
.H\(ms2\) {
  height: 1.44rem;
}
.H\(ms3\) {
  height: 1.728rem;
}
.H\(ms4\) {
  height: 2.074rem;
}
.H\(ms5\) {
  height: 2.488rem;
}
.H\(ms6\) {
  height: 2.986rem;
}
.Lh\(1\) {
  line-height: 1;
}
.Lh\(1\.5\) {
  line-height: 1.5;
}
.M\(0\) {
  margin: 0;
}
.My\(rh\) {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}
.Mt\(rq\) {
  margin-top: 0.375rem;
}
.Mend\(rq\) {
  margin-right: 0.375rem;
}
.Mend\(re\) {
  margin-right: 0.1875rem;
}
.Mend\(rh\) {
  margin-right: 0.75rem;
}
.Mstart\(rh\) {
  margin-left: 0.75rem;
}
.Mstart\(rq\) {
  margin-left: 0.375rem;
}
.Mstart\(a\) {
  margin-left: auto;
}
.Maw\(r4\) {
  max-width: 6rem;
}
.O\(n\) {
  outline: none;
}
.End\(1rem\) {
  right: 1rem;
}
.Start\(0\) {
  left: 0;
}
.Ov\(a\) {
  overflow: auto;
}
.Ov\(h\), .Hidden, [class*=LineClamp] {
  overflow: hidden;
}
.Ovx\(h\) {
  overflow-x: hidden;
}
.Ovs\(touch\) {
  -webkit-overflow-scrolling: touch;
}
.P\(rq\) {
  padding: 0.375rem;
}
.Px\(rq\) {
  padding-left: 0.375rem;
  padding-right: 0.375rem;
}
.Px\(rh\) {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.Py\(re\) {
  padding-top: 0.1875rem;
  padding-bottom: 0.1875rem;
}
.Py\(rq\), .Pt\(rq\) {
  padding-top: 0.375rem;
}
.Py\(rq\) {
  padding-bottom: 0.375rem;
}
.Pt\(r6\) {
  padding-top: 9rem;
}
.Pb\(r2\) {
  padding-bottom: 3rem;
}
.Pstart\(re\) {
  padding-left: 0.1875rem;
}
.Pos\(r\) {
  position: relative;
}
.Pos\(f\) {
  position: fixed;
}
.Ta\(end\) {
  text-align: right;
}
.Ta\(c\) {
  text-align: center;
}
.Td\(n\) {
  text-decoration: none;
}
.Td\(u\)\:h:hover {
  text-decoration: underline;
}
.Trs\(aeo\) {
  transition: all .3s cubic-bezier(0.19, 1, 0.22, 1);
}
.W\(100\%\), .Row {
  width: 100%;
}
.W\(r2\) {
  width: 3rem;
}
.W\(1\/6\) {
  width: 16.6667%;
}
.W\(3\/6\) {
  width: 50%;
}
.W\(3\/4\) {
  width: 75%;
}
.W\(ms1\) {
  width: 1.2rem;
}
.W\(msn2\) {
  width: 0.694rem;
}
.W\(msn1\) {
  width: 0.833rem;
}
.W\(ms0\) {
  width: 1rem;
}
.W\(ms2\) {
  width: 1.44rem;
}
.W\(ms3\) {
  width: 1.728rem;
}
.W\(ms4\) {
  width: 2.074rem;
}
.W\(ms5\) {
  width: 2.488rem;
}
.W\(ms6\) {
  width: 2.986rem;
}
.Z\(100\) {
  z-index: 100;
}
.Hidden {
  position: absolute !important;
  *clip: rect(1px 1px 1px 1px);
  clip: rect(1px,1px,1px,1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
}
[class*=LineClamp] {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
a[class*=LineClamp], .Row {
  display: inline-block;
  zoom: 1;
}
a[class*=LineClamp] {
  display : -webkit-box;
  *display: inline;
}
a[class*=LineClamp]:after {
  content: ".";
  font-size: 0;
  visibility: hidden;
  display: inline-block;
  overflow: hidden;
  height: 0;
  width: 0;
}
.LineClamp\(1\,24px\), .LineClamp\(1\), .LineClamp\(1\,36px\) {
  -webkit-line-clamp: 1;
}
.LineClamp\(1\,24px\) {
  max-height: 24px;
}
.LineClamp\(1\) {
  max-height: ;
}
.LineClamp\(1\,36px\) {
  max-height: 36px;
}
.Row {
  clear: both;
  vertical-align: top;
  *display: block;
  *width: auto;
}
@media screen and (max-width: 54.938rem) {
  .D\(n\)--lesm {
    display: none;
  }
  .Hidden--lesm {
    position: absolute !important;
    *clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
  }
}
@media screen and (min-width: 29.375rem) {
  .D\(n\)--sm {
    display: none;
  }
  .D\(f\)--sm {
    display: flex;
  }
  .Flxg\(0\)--sm {
    flex-grow: 0;
  }
  .Fld\(c\)--sm {
    flex-direction: column;
  }
  .Fld\(r\)--sm {
    flex-direction: row;
  }
  .Or\(0\)--sm {
    order: 0;
  }
  .Fz\(ms2\)--sm {
    font-size: 1.44rem;
  }
  .Mt\(rh\)--sm {
    margin-top: 0.75rem;
  }
  .Start\(r3\)--sm {
    left: 4.5rem;
  }
  .Px\(r1\)--sm {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .Px\(rq\)--sm {
    padding-left: 0.375rem;
    padding-right: 0.375rem;
  }
  .Py\(rh\)--sm {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
  .Pt\(r1\)--sm {
    padding-top: 1.5rem;
  }
  .W\(r3\)--sm {
    width: 4.5rem;
  }
}
@media screen and (min-width: 55rem) {
  .Mstart\(rh\)--md {
    margin-left: 0.75rem;
  }
  .W\(2\/6\)--md {
    width: 33.3333%;
  }
}
